<p>You are using named yields. Here are examples how to use them:</p>
<% content_for :head do -%>
  <script></script>
<% end -%>


<!-- original body content --><div id="content">

   	<!-- main -->
	   <div id="main">

      	<div class="post">

      		<div class="right">

            	<h2><a href="index.html">Read Me First</a></h2>

               <p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p>

               	<div class="image-section">
              			<img src="/images/img-post.jpg" alt="image post" height="200" width="500" />
         	    	</div>

               <p><strong>CoolBlue</strong> is a free, W3C-compliant, CSS-based website template
					by <a href="http://www.styleshout.com/">styleshout.com</a>. This work is
					distributed under the <a rel="license" href="http://creativecommons.org/licenses/by/2.5/">
					Creative Commons Attribution 2.5  License</a>, which means that you are free to
					use and modify it for any purpose. All I ask is that you give me credit by including a <strong>link back</strong> to
					<a href="http://www.styleshout.com/">my website</a>.
               </p>

               <p>
               You can find more of my free template designs at <a href="http://www.styleshout.com/">my website</a>.
					For premium commercial designs, you can check out
               <a href="http://www.dreamtemplate.com" title="Website Templates">DreamTemplate.com</a>.
					</p>


               <p><a class="more" href="index.html">continue reading &raquo;</a></p>

            </div>

            <div class="left">

            	<p class="dateinfo">JAN<span>31</span></p>

               	<div class="post-meta">
                  	<h4>Post Info</h4>
                     	<ul>
                           <li class="user"><a href="#">Erwin</a></li>
                           <li class="time"><a href="#">12:30 PM</a></li>
                           <li class="comment"><a href="#">2 Comments</a></li>
                           <li class="permalink"><a href="#">Permalink</a></li>
                        </ul>
						</div>

            </div>

			</div>

         <div class="post">

         	<div class="right">

            	<h2><a href="index.html">Aliquam Risus Justo</a></h2>

               <p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p>

               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
					Cras id urna. Morbi tincidunt, orci ac <a href="index.html">convallis aliquam</a>, lectus turpis varius lorem, eu
				   posuere nunc justo tempus leo.</p>

				   <p>
				   Donec mattis, purus nec placerat bibendum, <a href="index.html">dui pede condimentum</a>
				   odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra
				   condimentum, lorem tellus eleifend magna, <a href="index.html">eget fringilla velit</a> magna id neque. Curabitur vel urna.
				   In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
				   Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
				   posuere nunc justo tempus leo.</p>

               <p><a class="more" href="index.html">continue reading &raquo;</a></p>

            </div>

            <div class="left">

            	<p class="dateinfo">JAN<span>29</span></p>

               <div class="post-meta">
               	<h4>Post Info</h4>
                  	<ul>
                     	<li class="user"><a href="#">Erwin</a></li>
                        <li class="time"><a href="#">10:30 PM</a></li>
                        <li class="comment"><a href="#">5 comments</a></li>
                        <li class="permalink"><a href="#">Permalink</a></li>
                     </ul>
					</div>

            </div>

			</div>

         <div class="post">

         	<div class="right">

            	<h2><a href="index.html">Lorem Ipsum Dolor Sit Amet</a></h2>

               <p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p>

               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
					Cras id urna. Morbi tincidunt, orci ac <a href="index.html">convallis aliquam</a>, lectus turpis varius lorem, eu
				   posuere nunc justo tempus leo.</p>

				   <p>
				   Donec mattis, purus nec placerat bibendum, <a href="index.html">dui pede condimentum</a>
				   odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra
				   condimentum, lorem tellus eleifend magna, <a href="index.html">eget fringilla velit</a> magna id neque. Curabitur vel urna.
				   In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
				   Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
				   posuere nunc justo tempus leo.</p>

               <p><a class="more" href="index.html">continue reading &raquo;</a></p>

            </div>

            <div class="left">

            	<p class="dateinfo">JAN<span>25</span></p>

               <div class="post-meta">
               	<h4>Post Info</h4>
                  	<ul>
                     	<li class="user"><a href="#">Erwin</a></li>
                        <li class="time"><a href="#">11:30 AM</a></li>
                        <li class="comment"><a href="#">7 comments</a></li>
                        <li class="permalink"><a href="#">Permalink</a></li>
                     </ul>
					</div>

            </div>

			</div>

        <!-- /main -->
		</div>

      <!-- sidebar -->
		<div id="sidebar">

      	<div class="about-me">

         	<h3>About Me</h3>
		      <p>
		      <a href="index.html"><img src="/images/gravatar.jpg" width="40" height="40" alt="firefox" class="float-left" /></a>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
			   Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
			   posuere nunc justo tempus leo <a href="index.html">Learn more...</a>
				</p>

         </div>

			<div class="sidemenu">

				<h3>Sidebar Menu</h3>
            <ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html#TemplateInfo">TemplateInfo</a></li>
					<li><a href="style.html">Style Demo</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="archives.html">Archives</a></li>
					<li><a href="http://www.dreamtemplate.com" title="Web Templates">Web Templates</a></li>
				</ul>

			</div>

			<div class="sidemenu">

				<h3>Sponsors</h3>
            <ul>
					<li><a href="http://www.dreamtemplate.com" title="Website Templates">DreamTemplate <br />
	            	<span>Over 6,000+ Premium Web Templates</span></a>
	            </li>
					<li><a href="http://www.themelayouts.com" title="WordPress Themes">ThemeLayouts <br />
	            	<span>Premium WordPress &amp; Joomla Themes</span></a>
	            </li>
					<li><a href="http://www.imhosted.com" title="Website Hosting">ImHosted.com <br />
	            	<span>Affordable Web Hosting Provider</span></a>
	            </li>
					<li><a href="http://www.dreamstock.com" title="Stock Photos">DreamStock <br />
	            	<span>Download Amazing Stock Photos</span></a>
	            </li>
					<li><a href="http://www.evrsoft.com" title="Website Builder">Evrsoft <br />
	            	<span>Website Builder Software &amp; Tools</span></a>
	            </li>
					<li><a href="http://www.webhostingwp.com" title="Web Hosting">Web Hosting <br />
	            	<span>Top 10 Hosting Reviews</span></a>
	            </li>
				</ul>

			</div>

         <div class="popular">

				<h3>Most Popular</h3>
				<ul>
			   	<li><a href="index.html">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a>
						<br /><span>Posted on December 22, 2010</span>
					</li>
               <li><a href="index.html">Cras fringilla magna. Phasellus suscipit.</a>
						<br /><span>Posted on December 20, 2010</span>
					</li>
               <li><a href="index.html">Morbi tincidunt, orci ac convallis aliquam.</a>
						<br /><span>Posted on December 15, 2010</span>
					</li>
               <li><a href="index.html">Ipsum dolor sit amet, consectetuer adipiscing elit.</a>
						<br /><span>Posted on December 14, 2010</span>
					</li>
               <li><a href="index.html">Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem</a>
						<br /><span>Posted on December 12, 2010</span>
					</li>
				</ul>

			</div>

      <!-- /sidebar -->
		</div>

    <!-- content -->
	</div>